obj/Filas.csproj.nuget.dgspec.json
obj/Filas.csproj.nuget.g.props
obj/Filas.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/Filas.AssemblyInfo.cs
obj/Debug/net6.0/Filas.AssemblyInfoInputs.cache
obj/Debug/net6.0/Filas.assets.cache
obj/Debug/net6.0/Filas.csproj.AssemblyReference.cache
obj/Debug/net6.0/Filas.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Filas.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Filas.dll
obj/Debug/net6.0/Filas.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Filas.genruntimeconfig.cache
obj/Debug/net6.0/Filas.GlobalUsings.g.cs
obj/Debug/net6.0/Filas.pdb
obj/Debug/net6.0/ref/Filas.dll
obj/Debug/net6.0/refint/Filas.dll
bin/Debug/net6.0/Filas.deps.json
bin/Debug/net6.0/Filas.dll
bin/Debug/net6.0/Filas.exe
bin/Debug/net6.0/Filas.pdb
bin/Debug/net6.0/Filas.runtimeconfig.json
